h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

p {
  margin-bottom: 10px;
}

.body {
  font-family: 'Avenir Next', sans-serif;
  color: #000;
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  border-top: 10px solid transparent;
  background-color: #fff;
}

.navbar.border {
  margin-top: -90px;
  border-top-width: 100px;
  border-top-color: #000;
}

.container {
  position: relative;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand.margin-left {
  margin-left: 15px;
}

.nav-link {
  padding-right: 15px;
  padding-left: 15px;
  font-size: 12px;
}

.nav-link.bar:hover {
  margin-top: -100px;
  border-top: 100px solid #000;
}

.nav-link.bar.w--current {
  margin-top: -100px;
  border-top: 100px solid #000;
  color: #000;
}

.nav-link.bar.active {
  margin-top: -100px;
  border-top: 100px solid #000;
}

.logo.invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.logo.margin {
  margin-bottom: 15px;
}

.logo.margin.invert.override-alignment {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.hero {
  height: 80vh;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .95), hsla(0, 0%, 100%, .95)), url('../images/pattern-1.png');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .95), hsla(0, 0%, 100%, .95)), url('../images/pattern-1.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, 136px;
}

.hero.short {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero.image {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: none;
}

.header {
  position: relative;
}

.header.edit {
  top: 5%;
}

.h1 {
  margin-top: 0px;
  font-family: Marion, sans-serif;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 1px;
}

.h1.font-size {
  margin-top: 5px;
  font-size: 28px;
  line-height: 42px;
}

.h1.font-size.medium {
  font-size: 24px;
}

.h1.font-size.small {
  font-size: 18px;
}

.h1.quote {
  margin-right: 10px;
}

.h1.white {
  color: #fff;
}

.h3 {
  margin-bottom: 30px;
  line-height: 33px;
  font-weight: 400;
}

.h3.white {
  color: #fff;
}

.button {
  padding: 9px 15px;
  background-color: #000;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-weight: 600;
  text-decoration: none;
}

.button:hover {
  opacity: 0.8;
}

.button.margin-right-25 {
  margin-right: 25px;
}

.button.margin-right-25.white {
  border-radius: 2px;
  cursor: pointer;
}

.button.full-width {
  width: 100%;
  text-align: center;
}

.button.float-right {
  float: right;
}

.button.white {
  border-radius: 2px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.button.white.redo-search {
  top: 75px;
  border-style: solid;
  border-width: 0.4px;
  border-color: hsla(0, 0%, 61%, .5);
  border-radius: 2px;
  font-size: 12px;
}

.button.redo-search {
  position: absolute;
  top: 70px;
  right: 10px;
}

.section {
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
}

.section.pattern {
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .95), hsla(0, 0%, 100%, .95)), url('../images/pattern-1.png');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .95), hsla(0, 0%, 100%, .95)), url('../images/pattern-1.png');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, 75px;
}

.section.full {
  overflow: hidden;
  height: 100vh;
  padding-top: 0px;
  padding-bottom: 0px;
}

.section.full.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.section.padding-50 {
  padding-bottom: 50px;
}

.section.listing {
  padding-top: 0px;
  padding-bottom: 0px;
}

.section.top-margin-50 {
  padding-top: 50px;
}

.section.overflow {
  overflow: visible;
}

.section.terms {
  padding-top: 0px;
}

.footer {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #000;
}

.column {
  position: relative;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.column.list-vertical {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.column.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column.center.flex-right {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.column.center.flex-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.column.right-padding-5 {
  padding-right: 5px;
}

.column.left-padding-5 {
  padding-left: 5px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.column.quarter {
  width: 25%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.column.quarter.margin-top.margin-bottom {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.column.quarter.margin-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.column.flex-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.column.flex-right.justify {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.column.half {
  width: 50%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.column.half.border-bottom {
  border-bottom: 0.5px solid rgba(0, 0, 0, .25);
}

.column.scroll {
  overflow: auto;
}

.column.scroll.border {
  border-right: 0.5px solid rgba(0, 0, 0, .25);
}

.column.left {
  padding-right: 10px;
}

.column.right {
  padding-left: 10px;
}

.column.override {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column.justify {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.column.bg {
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.column.columner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.column.third {
  width: 33%;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.column.table {
  padding: 10px;
}

.column.margin-top {
  margin-top: 15px;
}

.div {
  position: relative;
  z-index: 999;
}

.div.margin-75 {
  position: relative;
  z-index: 999;
  overflow: auto;
  margin-bottom: 75px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.row.no-margin {
  margin-bottom: 0px;
}

.row.no-margin.height-50 {
  height: 50%;
}

.row.no-margin.height-50.mobile.height {
  height: auto;
  margin-top: 50px;
}

.row.no-margin.mobile {
  overflow: hidden;
  height: 92.5%;
  margin-top: 70px;
}

.row.no-margin.border {
  height: 400px;
  border: 0.5px solid #000;
  background-color: #fff;
}

.row.no-margin.overflow {
  position: relative;
  top: 0px;
  height: 400px;
  margin-top: -450px;
}

.row.margin-100 {
  margin-bottom: 100px;
}

.row.margin-top {
  margin-top: 50px;
}

.row.margin-top.no-margin.center {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.row.overflow {
  height: 350px;
  margin-top: -350px;
}

.row._75 {
  position: relative;
  z-index: 999;
  width: 75%;
  margin-bottom: 25px;
}

.row._75.margin-75 {
  position: relative;
  z-index: 999;
  margin-bottom: 75px;
}

.row._75.gray {
  margin-bottom: 0px;
  background-color: rgba(0, 0, 0, .05);
}

.row.margin-25 {
  margin-bottom: 25px;
}

.caption {
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 18px;
}

.caption.white {
  color: #fff;
}

.h6 {
  margin-top: 5px;
}

.h6.white {
  color: #fff;
}

.link {
  padding-bottom: 2px;
  border-bottom: 1px solid #000;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.link.small {
  font-size: 12px;
  line-height: 18px;
}

.link.small.white {
  border-bottom-style: none;
  border-bottom-color: #fff;
  color: #fff;
}

.link.float-left {
  position: absolute;
  left: 15px;
  bottom: 15px;
  float: right;
}

.link.float-left.list-view {
  left: auto;
  right: 0px;
  bottom: 0px;
}

.link.float-left.search {
  left: auto;
  right: 15px;
  bottom: 15px;
}

.link.float-left {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.link.float-left.position {
  position: relative;
  left: 0px;
  bottom: 0px;
  float: none;
}

.link.position {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.h2 {
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 33px;
  font-weight: 600;
}

.h2.no-margin {
  margin-bottom: 0px;
}

.h2.no-margin.small {
  font-size: 18px;
}

.h2.price {
  display: inline-block;
}

.h2.price.small {
  font-size: 18px;
}

.h2.margin-50 {
  margin-bottom: 50px;
}

.h2.margin-50.block {
  display: inline-block;
  margin-right: 5px;
}

.text.margin-25 {
  margin-bottom: 25px;
}

.text.margin-top-10 {
  margin-top: 10px;
  font-weight: 600;
}

.text.margin-top-10.center {
  text-align: center;
}

.text.margin-50 {
  margin-bottom: 50px;
}

.text.bold {
  font-weight: 600;
}

.text.small {
  margin-bottom: 5px;
  font-size: 12px;
}

.text.listing {
  padding-right: 10px;
}

.text.call {
  font-size: 12px;
  text-align: center;
}

.text.half {
  width: 70%;
}

.info-block {
  width: 50%;
}

.info-block.full-width {
  width: 100%;
}

.info-block.margin-100 {
  margin-bottom: 100px;
}

.info-block.margin-100._100 {
  width: 100%;
}

.graphic {
  height: 350px;
}

.graphic.small {
  height: 150px;
}

.graphic.small.top-margin {
  margin-top: 30px;
}

.graphic.position-up {
  position: absolute;
  top: -50px;
  z-index: 5;
}

.graphic.big {
  height: 500px;
}

.text-area {
  min-height: 134px;
  font-size: 12px;
  line-height: 18px;
}

.input {
  font-size: 12px;
  line-height: 18px;
}

.form-block {
  position: relative;
  z-index: 999;
  margin-bottom: 0px;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
  text-decoration: none;
}

.link-block.margin-top {
  margin-top: 20px;
}

.listing-block {
  border: 0.5px solid #000;
  background-color: #fff;
}

.listing-block.no-border {
  border-style: none;
}

.slider {
  background-color: transparent;
}

.slider.height-100 {
  width: 100%;
  height: 100%;
  border-top: 0.5px solid #000;
}

.slider._75 {
  width: 75%;
}

.slider._75.height {
  height: 400px;
}

.slider.quote {
  width: 70%;
  height: 100%;
}

.slider.full {
  height: auto;
}

.mask.overflow {
  overflow: visible;
}

.left-arrow {
  font-size: 24px;
}

.left-arrow.black {
  color: #000;
}

.right-arrow {
  font-size: 24px;
}

.right-arrow.black {
  color: #000;
}

.slide-nav {
  font-size: 7px;
}

.h5 {
  margin-top: 0px;
  font-weight: 600;
}

.h5.price {
  display: inline-block;
}

.h5.address {
  display: inline-block;
}

.h5.search {
  margin-bottom: 0px;
}

.detail-text {
  display: inline-block;
  margin-bottom: 0px;
  color: #9b9b9b;
  font-size: 12px;
  line-height: 18px;
}

.detail-text.no-margin {
  margin-bottom: 0px;
}

.detail-text.label {
  margin-right: 25px;
  margin-bottom: 0px;
  margin-left: 5px;
}

.detail-text.zip {
  margin-left: 5px;
}

.detail-text.state {
  margin-left: 5px;
}

.detail-text.black {
  color: #000;
}

.detail-text.black.number {
  margin-left: 15px;
}

.detail-text.black.left {
  margin-right: 5px;
  margin-left: 5px;
}

.detail-text.black.big {
  font-size: 14px;
  font-weight: 600;
}

.detail-text.margin-left-right {
  margin-right: 5px;
  margin-left: 5px;
}

.detail-text.dash {
  margin-right: 5px;
}

.detail-text.margin-bottom {
  margin-bottom: 10px;
}

.detail-text.margin-top {
  margin-top: 15px;
  margin-bottom: 5px;
}

.detail-text.listing {
  position: relative;
  z-index: 999;
  width: 75%;
  padding-right: 5px;
}

.details {
  position: relative;
  height: 100%;
  padding: 20px;
}

.details.vertical {
  padding: 0px;
}

.details.border-right {
  border-right: 0.5px solid rgba(0, 0, 0, .25);
}

.horizontal-list {
  display: block;
  margin-bottom: 40px;
}

.horizontal-list.no-margin {
  margin-bottom: 0px;
}

.collection-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.collection-item.vertical {
  padding: 0px;
  border-bottom: 0.5px solid hsla(0, 0%, 61%, .5);
}

.slide {
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.price-block {
  margin-bottom: 10px;
}

.price-block.list-view {
  margin-bottom: 0px;
}

.price-block.search {
  margin-top: 10px;
  margin-bottom: 0px;
}

.testimony-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header-width {
  width: 70%;
}

.client {
  margin-top: 50px;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
}

.sub-header {
  margin-bottom: 50px;
}

.pattern-section {
  position: absolute;
  left: 0px;
  top: -110px;
  right: 0px;
  height: 275px;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .95), hsla(0, 0%, 100%, .95)), url('../images/pattern-1.png');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .95), hsla(0, 0%, 100%, .95)), url('../images/pattern-1.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, 75px;
}

.pattern-section.bigger {
  top: -150px;
  z-index: 0;
  height: 375px;
}

.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.tabs-menu {
  position: fixed;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 60px;
  float: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  background-color: #000;
}

.tabs-content {
  margin-top: 60px;
}

.tab-link {
  padding-right: 15px;
  padding-left: 15px;
  float: right;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
}

.tab-link.w--current {
  background-color: transparent;
}

.tab-link.margin-right {
  margin-right: 15px;
}

.dropdown-list.w--open {
  background-color: #000;
  color: #fff;
}

.dropdown-list.filter {
  position: absolute;
}

.dropdown-list.filter.w--open {
  top: 60px;
  right: 0px;
  display: block;
  width: 50vw;
  border-bottom: 0.5px solid hsla(0, 0%, 61%, .5);
  background-color: #fff;
  color: #000;
}

.no-margin {
  padding-right: 0px;
  padding-left: 0px;
}

.map {
  height: 100%;
}

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 15px 25px 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.list.horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.filter-bar {
  position: absolute;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  width: 100%;
  height: 60px;
  padding-right: 0px;
  padding-left: 25px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 0.5px solid hsla(0, 0%, 61%, .5);
  border-bottom: 0.5px solid hsla(0, 0%, 61%, .5);
  background-color: #fff;
}

.filter-block {
  margin-right: 25px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.filter-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.dropdown-filter {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 60px;
  font-size: 12px;
  line-height: 18px;
}

.filter-div {
  padding: 25px;
}

.range-slider {
  width: 100%;
}

.range-label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.range-block {
  margin-top: 10px;
  margin-bottom: 25px;
}

.range-block.no-margin {
  margin-bottom: 0px;
}

.sort-buttons {
  position: fixed;
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  margin-top: 23px;
  margin-left: 15px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Avenir Next', sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sort-buttons.buy {
  margin-left: 350px;
  font-family: 'Font Awesome', sans-serif;
  font-weight: 300;
}

.sort-buttons.developments {
  margin-left: 225px;
  font-family: 'Font Awesome', sans-serif;
  font-weight: 300;
}

.check-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 25px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.check-block.no-margin {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.checkboxes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.checkboxes.margin {
  margin-bottom: 15px;
}

.values {
  margin-top: -17px;
  float: right;
}

.h4 {
  font-weight: 600;
}

.h4.price {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}

.short-desc {
  overflow: hidden;
  height: 100px;
  margin-top: 25px;
}

.short-desc.no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.status {
  position: absolute;
  right: 15px;
  bottom: 15px;
  padding-bottom: 2px;
  font-weight: 600;
}

.status.top {
  top: 15px;
  right: 15px;
  bottom: auto;
  margin-top: 4px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.status.top.listview {
  top: 0px;
  right: 0px;
  margin-top: 0px;
}

.status.position {
  right: 15px;
  bottom: 0px;
}

.project-quote {
  margin-top: 10px;
  font-style: italic;
}

.quote-block {
  display: inline-block;
  margin-bottom: 5px;
  float: right;
}

.profile-picture {
  display: block;
  width: 75%;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
  border-radius: 999px;
}

.profile-name {
  display: block;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
  font-weight: 600;
  text-align: center;
}

.link-subtle {
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: #000;
  text-align: center;
  text-decoration: none;
}

.top-block {
  margin-bottom: 20px;
}

.top-block.flex-horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.listing-status {
  font-weight: 600;
  text-transform: uppercase;
}

.listing-status.float-right {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: inline-block;
}

.over-left {
  position: relative;
  left: 0px;
  top: 0px;
  width: 50%;
  height: 400px;
  margin-left: -470px;
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.over-right {
  position: relative;
  top: -50px;
  right: 0px;
  width: 50%;
  height: 400px;
  margin-top: -350px;
  margin-left: 940px;
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.sticky-cta {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  margin-top: 235px;
}

.sticky-cta.pattern {
  position: absolute;
  z-index: -1;
  margin-top: 645px;
}

.floating-contact {
  width: 25%;
  padding: 15px;
  float: right;
  border: 0.5px solid #000;
  background-color: #fff;
}

.pattern-track {
  position: relative;
  overflow: hidden;
  width: 25%;
  height: 135vh;
  float: right;
  clear: right;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .95), hsla(0, 0%, 100%, .95)), url('../images/pattern-1.png');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .95), hsla(0, 0%, 100%, .95)), url('../images/pattern-1.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, 136px;
}

.buttons-block {
  position: absolute;
  left: 0px;
  bottom: 35px;
  z-index: 999;
}

.button-link {
  text-decoration: none;
}

.empty-state {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.empty-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgba(0, 0, 0, .25);
}

.small-map {
  width: 150px;
  height: 150px;
  border-radius: 2px;
}

.table-title {
  font-size: 12px;
  font-weight: 600;
}

.avail-list {
  width: 75%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  color: #000;
  text-decoration: none;
}

.avail-text {
  font-size: 12px;
}

.avail-text.available {
  color: #2ad986;
  font-weight: 600;
}

.avail-text.sold {
  color: #3b79c3;
  font-weight: 600;
}

.avail-text.coming-soon {
  color: #9b9b9b;
  font-weight: 600;
}

.tabs-menu-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tab-link-2 {
  padding-top: 19px;
  background-color: #fff;
  font-size: 12px;
  font-weight: 600;
}

.tab-link-2.w--current {
  padding-top: 9px;
  border-top: 10px solid #000;
  background-color: #fff;
}

.maps-block {
  position: absolute;
  right: 0px;
  bottom: 35px;
  z-index: 999;
}

.contact-call {
  display: block;
  margin-top: 20px;
  color: #000;
  text-decoration: none;
}

.small-img {
  height: 50px;
}

.bgvid {
  position: fixed;
  z-index: -999;
  width: 100vw;
  height: 100vh;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

html.w-mod-js *[data-ix="fade-in-from-top"] {
  opacity: 0;
  -webkit-transform: translate(0px, -70px);
  -ms-transform: translate(0px, -70px);
  transform: translate(0px, -70px);
}

html.w-mod-js *[data-ix="fade-in"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="fade-in-2"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="fade-in-from-bottom"] {
  opacity: 0;
  -webkit-transform: translate(0px, 150px);
  -ms-transform: translate(0px, 150px);
  transform: translate(0px, 150px);
}

@media (max-width: 991px) {
  .navbar {
    border-top-style: none;
  }
  .navbar.border {
    margin-top: 0px;
  }
  .nav-menu {
    background-color: #000;
  }
  .nav-link {
    padding-left: 0px;
    color: #fff;
  }
  .nav-link.bar.w--current {
    margin-top: 0px;
    border-top-style: none;
    color: #fff;
  }
  .menu-button.w--open {
    background-color: #000;
  }
  .section.padding-50 {
    padding-top: 75px;
    padding-bottom: 50px;
  }
  .column.center.flex-right {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .column.half.border-bottom.mobile {
    width: 100%;
  }
  .column.columner {
    padding-right: 10px;
  }
  .row.no-margin.mobile {
    height: 93.5%;
    margin-top: 60px;
  }
  .row.no-margin.vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .row.no-margin.overflow {
    top: 0px;
    height: 300px;
    margin-top: 0px;
  }
  .info-block {
    width: 80%;
  }
  .short-desc {
    margin-bottom: 50px;
  }
  .sticky-cta.pattern {
    margin-top: 223px;
  }
  .pattern-track {
    height: 325vh;
  }
  .bgvid {
    left: -50%;
  }
}

@media (max-width: 767px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .container.mobile {
    padding-right: 5px;
    padding-left: 5px;
  }
  .brand.margin-left {
    margin-left: 0px;
  }
  .brand.no-left {
    padding-left: 0px;
  }
  .hero {
    height: auto;
  }
  .hero.short {
    height: auto;
  }
  .hero.image {
    height: auto;
  }
  .header {
    padding: 100px 15px;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .header.edit {
    top: 5%;
  }
  .header.edit.mobile {
    padding-top: 50px;
  }
  .section.padding-50 {
    padding-top: 75px;
    padding-bottom: 25px;
  }
  .column.mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .column.center.flex-right {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .column.center.flex-right.mobile {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .column.right-padding-5 {
    padding-right: 0px;
  }
  .column.left-padding-5 {
    padding-left: 0px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .column.quarter {
    width: 100%;
  }
  .column.quarter.margin-top {
    margin-top: 75px;
  }
  .column.quarter.margin {
    margin-bottom: 15px;
  }
  .column.flex-right.margin-top {
    margin-top: 75px;
  }
  .column.half {
    width: 100%;
  }
  .column.left {
    padding-right: 0px;
  }
  .column.right {
    padding-left: 0px;
  }
  .column.columner {
    margin-bottom: 10px;
  }
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .row.no-margin {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .row.no-margin.height-50.mobile {
    margin-top: 25px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .row.no-margin.mobile {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .row.no-margin.horizontal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .row.no-margin.overflow {
    height: 200px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .row.no-margin.avail {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .row.mobile {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .row._75 {
    margin-bottom: 0px;
  }
  .row._75.gray.avail {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .row.margin-25 {
    margin-bottom: 15px;
  }
  .text.call {
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .graphic {
    margin-top: 50px;
  }
  .graphic.small.top-margin {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .graphic.position-up {
    position: relative;
  }
  .detail-text.listing {
    margin-top: 25px;
  }
  .collection-item {
    padding-right: 0px;
    padding-left: 0px;
  }
  .header-width {
    margin-top: 50px;
  }
  .sticky-cta.pattern {
    margin-top: 198px;
  }
  .contact-call {
    margin-top: 0px;
  }
}

@media (max-width: 479px) {
  .header.edit.mobile {
    padding-top: 25px;
  }
  .h1 {
    font-size: 36px;
    line-height: 44px;
  }
  .button.margin-right-25 {
    margin-bottom: 25px;
  }
  .section.full {
    height: auto;
  }
  .column {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .column.list-vertical {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .column.mobile {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .column.center.flex-right.mobile {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .column.center.flex-center.contact {
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .column.quarter.margin-top {
    margin-top: 0px;
  }
  .column.quarter.margin-bottom {
    margin-bottom: 50px;
  }
  .column.justify.wider {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .row.no-margin.height-50.mobile {
    margin-top: 50px;
  }
  .row.no-margin.mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .row.no-margin.overflow {
    height: 400px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .row.no-margin.avail {
    width: 200%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .row.mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .row._75 {
    width: 100%;
  }
  .row._75.gray.avail {
    width: 200%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .link.float-left.list-view {
    margin-top: 15px;
  }
  .h2.no-margin.small {
    font-size: 14px;
  }
  .h2.price.small {
    font-size: 14px;
  }
  .h2.margin-50.block.no-margin {
    margin-bottom: 0px;
  }
  .text.listing {
    padding-right: 0px;
  }
  .slider._75 {
    width: 100%;
  }
  .detail-text.listing {
    width: 100%;
    padding-right: 0px;
  }
  .testimony-block {
    width: 100%;
  }
  .header-width {
    width: 100%;
  }
  .tabs-menu {
    width: 100%;
  }
  .dropdown-list.filter.w--open {
    width: 100vw;
  }
  .listing-status {
    font-size: 12px;
  }
  .buttons-block {
    bottom: 300px;
  }
  .avail-list {
    width: auto;
  }
  .tab-link-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .bgvid {
    left: -100%;
  }
}

@font-face {
  font-family: 'Font Awesome';
  src: url('../fonts/fa-light-300.woff2') format('woff2'), url('../fonts/fa-light-300.eot') format('embedded-opentype'), url('../fonts/fa-light-300.woff') format('woff'), url('../fonts/fa-light-300.ttf') format('truetype'), url('../fonts/fa-light-300.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Marion';
  src: url('../fonts/Marion-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNext-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextLTPro-It.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextLTPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextLTPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}